@media print {
    @page {
        margin: 0;
        size: A4;
    }

    html,
    body {
        background-color: #ffffff;
        visibility: hidden;
        height: 100%;
        overflow: hidden;
    }

    .area-to-print {
        visibility: visible;
        position: fixed;
        left: 0;
        top: 0;
    }
}
